body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contacts {
  width: 300px;
  margin: 0 auto;
}

.search-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.contacts-list {
  padding: 0;
  width: 100%;
}

.contact {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
  padding: 5px;
  border-bottom: 1px dotted grey;
}

.contact-image {
  border-radius: 50%;
  margin: 5px;
}

.contact-name {
  font-size: 20px;
  font-weight: bold;
}

.contact-number {
  font-size: 18px;
  color: grey;
}

.nav-menu {
  height: 40px;
  line-height: 40px;
}

.nav-link {
  margin: 12px;
  text-decoration: none;
  font-weight: 600;
}

.nav-link.active {
  color: red;
}

/* Arts and Paintings */
.paintings-list {
  padding: 0;
  border: 1px solid gainsboro;
  width: 800px;
  margin: 10px auto 40px;

  text-align: left;
  list-style: none;
}

.painting-item {
  height: 30px;
  line-height: 30px;
}

.table-header {
  height: 30px;
  line-height: 30px;
  background-color: #C1C900;
  font-weight: 600;
}

.painting-item:not(:last-child) {
  border-bottom: 1px solid gainsboro;
}

.painting-item:nth-child(odd) {
  background-color: beige;
}

.painting-title,
.painting-artist,
.painting-year,
.painting-price {
  display: inline-block;
  /*margin-right: -4px;*/
  padding: 0 20px;
  border-right: 1px solid gainsboro;
  box-sizing: border-box;
}

.painting-title {
  width: 38%;
  text-decoration: none;
  color: black;
}

.painting-artist {
  width: 38%;
}

.painting-year {
  width: 12%;
  text-align: center;
}

.painting-price {
  width: 12%;
  text-align: center;
}
